
.searchBarTitle{
    color: #04D9D9;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
}

.autocomplete-dropdown{
    background-color: rgba(105, 2, 29, 0.848) !important; 
  color: #E2D9CB !important;
  border: 1px solid rgba(219, 30, 81, 0.3) !important; 
}