
.leagueDropdown {
  background-color: rgba(105, 2, 29, 0.848) !important; 
  color: #ffffff !important;
  border: 1px solid rgba(219, 30, 81, 0.3) !important; 
  padding: 10px 15px;

  font-family: 'beaufort-pro', sans-serif;

  transition: all 0.3s ease;
  outline: none;
 
}


.leagueDropdown:hover {
  border-color: rgb(219, 30, 81) !important;
  box-shadow: 0 0 10px rgba(105, 2, 29, 0.671);
}


.leagueDropdown option {
  background-color: rgba(187, 4, 52, 0.656);
  color: white;
  
}


.leagueDropdown:focus {
  box-shadow: 0 0 15px rgba(242, 7, 117, 0.4) !important;
  border-color: #f20775 !important;
}

.matchContainer {
  color: #fff;
}

.teamInfo{
    text-transform: uppercase;
    font-family: 'beaufort-pro', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.teamLogo {
  width: 40px; 
  height: 40px;
  object-fit: contain;
}

.vsText {
  color: #F20775;
  font-weight: 800;
  font-size: 1.5rem;
}

.meta-text {
  color: #F20775;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}